
html {
	overflow-x: hidden;
}

body.sv {
	margin: 0;
	padding: 0;
	display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
  }

div.position_photo {
	background-color: #063c3f;
	height: 1390px;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
}

h1.position1 {
	font-size: 20px;
	position: relative;
	margin-left: 450px;
	padding: 0;
}

.position1 span {
	font-size: 25px;
	position: relative;
	left: 30px;
}

.nav {
	font-size: 18px;
	position: relative;
	top: 0;
	bottom: 0;
	margin-left: 200px;
	padding: 0;

}

.menu {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

.menu a {

text-decoration: none;
font-family: sans-serif;
color: #1cedf8;
display: inline-block;
padding: 10px 50px;
background-color: #063c3f;
border-bottom: 5px solid #1cedf8;

}

.menu li {
	display: inline;
	margin-right: -5px;
}

div.contacts {
	position: relative;
	margin-left: 350px;
	padding: 0;
}

.contacts p {
	position: relative;
	margin-left: 120px;
	font-size: 18px;
	padding: 0;
}

p.contact  {
	position: relative;
	font-size: 18px;
}

section.section1 {
	position: relative;
	margin-left: 300px;
	padding: 0;
}

.section1 h2 {
	position: relative;
	margin-left: 300px;
	padding: 0;
}

.section1 p {
	width: 500px;
	height: 150px;
	border: 1px solid white;
	font-size: 18px;
	position: relative;
	margin-left: 150px;
	padding: 0;
	line-height: 1.5;
}

section.section2 {
	position: relative;
	top: 50px;
	margin-left: 400px;
	padding: 0;
}
.section2 h2{
	position: relative;
	margin-left: 200px;
}

section.education {
	position: relative;
	top: 20px;
	margin-left: 400px;

}
.education h2 {
	position: relative;
	left: 200px;
}


img.picture {
	position: absolute;
	top: 60px;
	right: 0;
	bottom:0 ;
	left: 80px;
	border-radius: 95px;
	width:200px;
   height:200px;
}

div.section3 {
	position: relative;
	margin-left: 10px;
	bottom: 450px;
}

.section3 h2 {
	position: relative;
	margin-left:30px;
	color: rgb(240, 248, 255);
}

.section3 ul {
	position: relative;
	margin-left: 10px;
	font-size: 18px;
	color: rgb(240, 248, 255);
   list-style-type: square;
}

div.section4 {
	position: relative;
   margin-left: 10px;
	bottom: 400px;
}

.section4 h2 {
	position: relative;
	margin-left: 30px;
	color: rgb(240, 248, 255)
}

.section4 ul{
	position: relative;
	margin-left: 10px;
	font-size: 18px;
	color: rgb(240, 248, 255);
	list-style-type: circle;
}

.link  {
	position: relative;
	margin-left: 450px;
	font-size: 18px;
	bottom: 250px;
}
